.backdrop {
  position: fixed;
  background: rgb(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}
.alert-box {
  position: fixed;
  background: white;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.26);
  top: 30vh;
  left: 20vw;
  width: 60vw;
  z-index: 2001;
  padding: 10px;
}

.alert-box-actions {
  text-align: right;
}
